/* ./resources/css/app.css */
@tailwind base;

@tailwind components;

@tailwind utilities;

.product-name {
    @apply text-sm font-bold text-red-200;
}

.alert {
    @apply text-red-50;
}

.cosi {
    @apply text-sm text-red-500;
}

